
.skill{
  background-color: #21212150;
  
  backdrop-filter: blur(3px);
}
#project{
  height: 500px;
  width: 400px;
}

#project{
  transition: 0.3s;
}
#project:hover{
  transform: translate(5px, 5px) rotate(4deg) scale(1.06);
  transform-origin: 100%;
}

@media (max-width:425px){
  #project{
    width: 250px;
    height: 380px;
  } 
  .desc{
    display:none;
  } 
  .stack{
    flex-wrap: wrap;
  }
}
