.reactIcon{
    width: 2.6rem;
    animation: spinning 5s infinite linear;
  }

  
  @keyframes spinning {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  @media (max-width:900px){
    #btFooter{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 0.5rem;

    }
    /* #copyright{
      position: relative;
      left: 0;
      transform: translateX(0);
     
    } */
    
  }

  